<section class="col-sm-12 col-xs-12">
	<h1 class="title text-capitalize text-center">Add Shortcut to home screen</h1>
</section>

<section class="col-sm-12 col-xs-12">
	<div class="container">
		<form name="frmShortcutConfirm" novalidate ng-submit="createShortcut(frmShortcutConfirm.$valid)">

			<div class="col-xs-12 col-sm-12 confirm">
				<div class="origin-ico">
					<img ng-src="{{shortcutItem.shortcutImageUrl}}"
						 class="img-responsive icon-shortcut pull-right"/>
				</div>
				<div class="new-ico">
					<span class="glyphicon glyphicon-arrow-left"></span>
					<img ng-src="{{appItem.appImageUrl}}"
						 class="img-responsive icon-shortcut center-block"/>

					<div class="info">
						<span class="info-name">{{appItem.name}}</span>
						<span class="info-description">Ice shortcut</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 confirm-info">
				<label>Shortcut name</label>
				<input type="text" class="form-control"
					   name="shortcut_name"
					   ng-required="true"
					   ng-value="newShortcut.name"
					   ng-model="newShortcut.name"/>
						<span ng-show="frmShortcutConfirm.shortcut_name.$error.required && !frmShortcutConfirm.shortcut_name.$pristine"
							  class="text-danger">Shortcut name can't be empty.</span>
				<span class="notice">Notice</span>

				<p class="notice-content">
					Icon of the original application, please do not delete absolutely.
					After you have removed the link source of application, this icon will no longer function.
				</p>
			</div>

			<button type="submit"
					class="nav navbar-fixed-bottom btn-lg btn-success col-sm-12">
				<i class="glyphicon glyphicon-plus"></i>
				Create Shortcut
			</button>
		</form>
	</div>
</section>
