<section class="col-sm-12 col-xs-12" style="margin-top: 50px;">
	<div class="container">
		<form name="frmShortcutConfirm" novalidate ng-submit="createShortcut(frmShortcutConfirm.$valid)">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="text-capitalize text-center panel-title">Confirm</h1>
				</div>
				<div class="panel-body">
					<div class="col-xs-12 col-sm-12">
						<div class="col-xs-6 col-sm-6 no-padding" style="margin-bottom: 25px;">
							<div class="col-xs-12 col-sm-4 no-padding">
								<img ng-src="{{shortcutItem.shortcutImageUrl}}"
									 class="img-responsive icon-shortcut center-block"/>
							</div>
							<div class="col-xs-12 col-sm-8 no-padding">
								<h4 class="text-left text-capitalize pull-left">Name: {{shortcutItem.name}}</h4>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 no-padding" style="margin-bottom: 25px;">
							<div class="col-sm-4 no-padding">
								<img ng-src="{{appItem.appImageUrl}}"
									 class="img-responsive icon-shortcut center-block"/>
							</div>
							<div class="col-sm-8 no-padding">
								<h4 class="text-left text-capitalize pull-left">Name: {{appItem.name}}</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 no-padding" style="margin-bottom: 25px;">
							<label>Shortcut name</label>
							<input type="text" class="form-control"
								   name="shortcut_name"
								   ng-required="true"
								   ng-value="newShortcut.name"
								   ng-model="newShortcut.name"/>
						<span ng-show="frmShortcutConfirm.shortcut_name.$error.required && !frmShortcutConfirm.shortcut_name.$pristine"
							  class="text-danger">Shortcut name can't be empty.</span>
						</div>
					</div>
				</div>
			</div>
			<button type="submit"
					class="nav navbar-fixed-bottom btn-lg btn-success col-sm-12">
				<i class="glyphicon glyphicon-plus"></i>
				Create Shortcut
			</button>
		</form>
	</div>
</section>
