<section class="startup-points col-sm-12">
	<div class="container">
		<div class="header">
			<h1 class="title text-center">起動するアプリの選択</h1>

			<p class="text-center">前の画面で選択したアイコンを使いたいアプリを</p>

			<p class="text-center">下のアプリ一覧から選んでください。</p>
		</div>
		<div class="solid-line"></div>
		<div class="app-content">
			<div ng-repeat="app in appList">
				<div class="app-item" ng-click="createShortcut(app.appId)">
					<div class="app-img">
						<img ng-src="{{app.appImageUrl}}"
							 alt="{{app.name}}"
							 title="{{app.name}}"
							 class="img-responsive center-block"/>
					</div>
					<span class="app-name">{{app.name}}</span>
				</div>
				<div class="solid-line"></div>
			</div>
		</div>
	</div>
</section>