<section class="col-sm-12 start-point">
	<div class="container" style="margin-bottom: 50px;">
		<h1 class="text-capitalize text-center">Startup point list</h1>

		<div class="col-sm-12 col-xs-12">
			<form name="appSelectForm" novalidate ng-submit="confirm(appSelectForm.$valid)">
				<div class="col-sm-12 col-xs-12" ng-repeat="app in appList" style="margin-top:5px; margin-bottom: 5px;">
					<div class="col-xs-4 col-sm-4">
						<img ng-src="{{app.appImageUrl}}"
							 class="img-responsive icon-shortcut"/>
					</div>
					<div class="col-sm-8 col-xs-8">
						<h3 class="pull-left title">{{app.name}}</h3>
						<input class="pull-right" name="app_id" type="radio"
							   style="margin-top: 27px;"
							   ng-click="updateAppId(app.appId)"
							   ng-model="appId" ng-value="app.appId">
					</div>
				</div>

				<button type="submit"
						class="nav navbar-fixed-bottom btn-lg btn-success col-sm-12"
						ng-disabled="!appSelectForm.$valid">
					<i class="glyphicon glyphicon-plus"></i>
					Create Shortcut
				</button>
			</form>
		</div>
	</div>
</section>