/*common*/
div {
	min-height: 1px;
	position: relative;
}

div:after {
	display: table;
	content: "";
	clear: both;
}

nav.nav {
	border-bottom: solid 1px #ddd;
	padding: 5px 0;
}

nav.nav > img {
	display: block;
	margin: 0 auto;
}

.title {
	font-size: 16px;
	font-weight: bold;
}

.p {
	font-weight: normal;
	font-size: 11px;
}

div.solid-line {
	height: 1px;
	background: #ddd;
	margin-left: -15px;
	margin-right: -15px;
}

/*shortcut-list-content*/
.shortcut-list-content .top {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 10px;
}

.shortcut-items,
.shortcut-items .content-items,
.app-content .app-item {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}

.content-items .item {
	width: 25%;
	padding: 4px;
	float: left;
}

.item .img-responsive {
	border: solid 1px #ddd;
	border-radius: 18px;
	margin: 0 auto;
	cursor: pointer;
}

.shortcut-list-content .middle .banner {
	margin-bottom: 8px;
}

/*startup-points*/
.startup-points .header,
.startup-points .app-content {
	width: 100%;
}

.startup-points .container {
	padding: 0;
}

.startup-points .header .title {
	font-size: 18px;
}

.startup-points .header p {
	font-size: 11px;
}

.app-item {
	height: 101px;
	cursor: pointer;
}

.app-item img,
.app-item .app-name,
.app-item .app-img {
	float: left;
	position: relative;
}

.app-img {
	height: 85px;
	width: 30%;
}

.app-item img {
	width: auto;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.app-item .app-name {
	line-height: 85px;
	font-size: 17px;
	font-weight: 600;
	width: 70%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}